@keyframes forT{
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes ms-reveal{
    from{
        opacity: 0; transform: translateY(3c0px);
    }
    to{opacity: 1; transform: translateY(0);
    }
}